.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  margin-top: 10px;
}

.header h1 {
  margin-bottom: 0px;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.header-links a {
  text-decoration: none;
  color: black;
  min-width: 80px;
  text-align: center;
  font-size: 18px;
}

.header-links a.active-link {
  text-decoration: underline;
}

hr {
  margin: 5px;
}