/*main.css
  
*/
body {
  background: white;
  font-family: arial;
  margin: 0px;
}

.content{
  padding-right: 100px;
  padding-left: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.header {
  background: #EFEFEF;
  height: 60px;
}

.header-text{
  
  float:left;
}

.header-text>a{
  font-size: 25px;
  line-height: 60px;
}

.header-menu{
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
  font-size: 14px;
  float:left;
}

.header-menu>li{
  float: left;
  font-size: 14px;
  line-height: 60px;
  padding-left: 8px;
  padding-right: 8px;
}

.header-link{
  text-decoration: none;
  color: #3366CC;
}

.header li:hover .sub-menu{
  z-index: 1;
  opacity: 1;
}

.sub-menu{
  width:160%;
  padding:5px 0px;
  /* position:absolute; */
  /* top:100%; */
  left: 0px;
  z-index: -1;
  opacity: 0;
  background: #D4D4D4;
}

.sub-menu li{
  display:block;

}

.sub-menu li a {
  padding: 10px 30px;
  display: block;
}





.header-link:visited{
  color:#3366CC;
}

.active{
  background: #D4D4D4;
}

.link{
  text-decoration: none;
  color: #3366CC;
}
.link:visited{
  color:red;
}

/* Old styling - still used in the blogs*/
h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*background: #555;*/
}

h2{
  margin-right: 150px;
  margin-left: 20px;
}

p {
  font-family: helvetica;
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  border: #D4D4D4 solid 2px;
  font-size: 16px;
  line-height: 22px;

}

.list-menu{
  background: white;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: #D4D4D4 solid 2px;
  list-style-type: disc;

}


